<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UNLV Student Support Application</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' type='text/css' href="../index.css">
  </head>

  <h2 class="titleText">UNLV Student Support Application</h2>
  <h2 class="titleText">Campus Map and Direction</h2>

  <button class="btn-primary" id="CustBtn" onclick="goBack()">Go Back</button>

  <body>
    <div id="map"></div>
    <p class="addressP"><b>Address</b>: <span id="address"></span></p>
    <p id="error"></p>

<!-- ======================================= -->

  <div class="destinationDiv"> Destination: 
    <select class="destin" id="destination">
      <option>Accelerator Lab Building (ALB)</option>
      <option>Paul B. Sogg Architecture Building (ARC)</option>
      <option>Academic Success Center - Claude I. Howard Building (ASC)</option>
      <option>Bennett Professional Development Center (BDC)</option>
      <option>Frank and Estella Beam Hall (BEH)</option>
      <option>John D. Jackie Gaughan Boys and Girls Club (BGC)</option>
      <option>Rod Lee Bigelow Health Sciences (BHS)</option>
      <option>UNLV Bookstore (BKS)</option>
      <option>Lee and Thomas Beam Music Center (BMC)</option>
      <option>Robert L. Bigelow Physics (BPB)</option>
      <option>William S. Boyd School of Law (BSL)</option>
      <option>Carol C. Harter Classroom Building Complex (CBC)</option>
      <option>Central Desert Complex (CDC)</option>
      <option>William D. Carlson Education (CEB)</option>
      <option>Chemistry Building (CHE)</option>
      <option>Catholic Newman Center (CNC)</option>
      <option>COX Pavilion (COX)</option>
      <option>Campus Services Building (CSB)</option>
      <option>Dayton Complex (DAY)</option>
      <option>Hazel M. Wilson Dining Commons (DIN)</option>
      <option>Eller Media Softball Stadium (EMS)</option>
      <option>Environmental Protection Agency (EPA)</option>
      <option>Flora Dungan Humanities (FDH)</option>
      <option>Facilities Management Administration (FMA)</option>
      <option>Foundations Building (FND)</option>
      <option>Frank and Vicki Fertitta Tennis Complex (FTC)</option>
      <option>Archie C. Grant Hall (GRA)</option>
      <option>Graduate Arts Studios (GRS)</option>
      <option>Greenspun Hall (GUA)</option>
      <option>High Bay Lab (HBL)</option>
      <option>Artemus W. Ham Concert Hall (HCH)</option>
      <option>Holbert H. Hendrix Education Auditorium (HEA)</option>
      <option>Alta Ham Fine Arts (HFA)</option>
      <option>Houssels House (HOU)</option>
      <option>Herman Westfall Building (HWB)</option>
      <option>Judy Bayley Theatre (JBT)</option>
      <option>Lied Athletic Complex (LAC)</option>
      <option>Lynn Bennett Early Childhood Education Center (LBC)</option>
      <option>LDS Institute of Religion Student Center (LDS)</option>
      <option>Lilly Fong Geoscience (LFG)</option>
      <option>Lied Library (LLB)</option>
      <option>Thomas &amp; Mack Moot Court (MCB)</option>
      <option>Mendenhall Center (MDC)</option>
      <option>Paul McDermott Physical Education Complex (MPE)</option>
      <option>Robert Miller Soccer Building (MSB)</option>
      <option>Marjorie Barrick Museum / Harry Reid Center (MSM-HRC)</option>
      <option>Operations and Maintenance (O&amp;M)</option>
      <option>Paradise Campus-Building 100 (PAR-100)</option>
      <option>Paradise Campus-Building 101 (PAR-101)</option>
      <option>Paradise Campus-Building 200 (PAR-200)</option>
      <option>Paradise Campus-Building 300 (PAR-300)</option>
      <option>Paradise Campus-Building 400 (PAR-400)</option>
      <option>Paradise Campus-Building 500 (PAR-500)</option>
      <option>Paradise Campus-Building 600 (PAR-600)</option>
      <option>Paradise Elementary School (PES)</option>
      <option>Police Headquarters (PHQ)</option>
      <option>Cottage Grove Parking Garage (PKG1)</option>
      <option>Tropicana Parking Garage (PKG2)</option>
      <option>Publications, Reprographics, Copy Center (PRO)</option>
      <option>Claude I. Howard Public Safety (PSB)</option>
      <option>Research Administration Building (RAB)</option>
      <option>James E. Rogers Center for Administration &amp; Justice (RAJ)</option>
      <option>Gym Road South Resident Services Building (RHW)</option>
      <option>Radiation Protection Laboratory (RPL)</option>
      <option>Rebel Recycling Center (RRC)</option>
      <option>Student Recreation and Wellness Center (RWC)</option>
      <option>Student Affairs Maintenance (SAM)</option>
      <option>Sam Boyd Stadium (SBS)</option>
      <option>System Computing Services (SCS)</option>
      <option>Science and Engineering Building (SEB)</option>
      <option>Stan Fulton Building - International Gaming Institute (SFB)</option>
      <option>Shadow Lane Dental School (SLC-A)</option>
      <option>Shadow Lane Biotech Research (SLC-B)</option>
      <option>Shadow Lane Campus Services (SLC-C)</option>
      <option>Shadow Lane Advanced Dental Education (SLC-D)</option>
      <option>South Residential Complex (SOU)</option>
      <option>Student Services Complex (SSC)</option>
      <option>Science Teaching Labs (STL)</option>
      <option>Student Union (SU)</option>
      <option>Sidewalk Café (SWC)</option>
      <option>Richard Tam Alumni Center (TAC)</option>
      <option>William D. Taylor Hall (TAY)</option>
      <option>Thomas T. Beam Engineering Complex (TBE)</option>
      <option>Technology Building (TEC)</option>
      <option>Thomas and Mack Center (TMC)</option>
      <option>Thomas &amp; Mack Warehouse (TMW)</option>
      <option>Tonopah Residence Complex (TON)</option>
      <option>Thunder Warehouse (TWH)</option>
      <option>UCC Residential Complex (UCC)</option>
      <option>University Hall (UNH)</option>
      <option>University Systems Building (USB)</option>
      <option>UNLV Transit Center (UTC)</option>
      <option>Earl E. Wilson Baseball Stadium (WBS)</option>
      <option>Juanita Greer White Life Sciences (WHI)</option>
      <option>John S. Wright Hall (WRI)</option>
      <option>Eugene R. Warner Residential Life Building (WRL)</option>
    </select>
  </div>
<!-- ======================================= -->

  <input class="btn-primary" id="CustBtn" type="button" onclick="drawDirections();" value="Get Direction" />

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="../../js/controller.js"></script>

  </body>
</html>