<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UNLV Student Support Application</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' type='text/css' href="../index.css">
  </head>

  <h2 class="titleText">UNLV Student Support Application</h2>
  <h2 class="titleText">Campus Map and Direction</h2>

  <button class="btn-primary" id="CustBtn" onclick="goBack()">Go Back</button>

  <body>
    <div id="map"></div>
    <p class="addressP"><b>Address</b>: <span id="address"></span></p>
    <p id="error"></p>

<!-- ======================================= -->

  <div class="destinationDiv"> Destination: 
    <select class="destin" id="destination">
      <option>Thomas T. Beam Engineering Complex (TBE)</option>
      <option>Lied Library (LLB)</option>
      <option>Carol C. Harter Classroom Building Complex (CBC)</option>
      <option>Central Desert Complex (CDC)</option>
      <option>Student Services Complex (SSC)</option>
      <option>Student Union (SU)</option>
      <option>Thomas & Mack Center (TMC)</option>
    </select>
  </div>
<!-- ======================================= -->

  <input class="btn-primary" id="CustBtn" type="button" onclick="drawDirections();" value="Get Direction" />

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="../../js/controller.js"></script>

  </body>
</html>