<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UNLV Student Support Application</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' type='text/css' href="../index.css">
</head>

<h2 class="titleText">UNLV Student Support Application</h2>
<h2 class="titleText">You are loged in with your MyUNLV account</h2>

<ul class="mainList">
  <a class="main" href="#">Options</a>
    <li class="n1"><a class="subMenu" href="currLocation.html">List of locations and direction to building</a></li>
    <li class="n2"><a class="subMenu" href="currLocation.html">Campus Map and direction</a></li>
    <li class="n3"><a class="subMenu" href="../index.html">Back to home</a></li>
</ul>
</html>