<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UNLV Student Support Application</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' type='text/css' href="../index.css">
</head>

    <body>
        <h2 class="titleText">UNLV Student Support Application</h2>
        <h2 class="titleText">Login To MyUNLV</h2>

        <div class="login">
                <table>
                    <tr>
                        <td><input class="EditTex" id="UnlvUserText" type="text" name="username" placeholder="NSHE #" />
                        </td>
                    </tr>
                    <tr>
                        <td><input class="EditTex" id="UnlvPassText" type="Password" name="password" placeholder="Password" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn-primary" id="CustBtn" type="button" onclick="UNLVLogin();" value="Log In" />
                        </td>
                    </tr>
                </table>
        </div>

        <button class="btn-primary" id="CustBtn" onclick="goBack()">Go Back</button>
        <script src="../../js/controller.js"></script>
    </body>

</html>